#portfolio {
  img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  .container {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      li {
        margin-right: 10px;
      }
    }
  }
}
