footer {
  padding-top: 50px;
  margin-top: 20px;

  .title_content {
    p {
      font-size: 14px;
      color: #777777;
    }
  }
  .title_link,
  .title_service {
    h6 {
      margin-bottom: 15px;
    }
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 10px;
        a {
          text-decoration: none;
          color: #777777;
          font-size: 15px;
          &:hover {
            color: #e43c5c;
          }
          i {
            color: #e43c5c;
          }
        }
      }
    }
  }
  .input_subscribe {
    margin-top: 10px;
    display: inline-flex;
    position: relative;
    input {
      padding: 6px 15px;
      border-radius: 125px;
      margin-right: 5px;
      border: 1px solid #e43c5c;
      outline: none !important;
    }
    .btn-subscribe {
      padding: 10px 30px;
      position: absolute;
      left: 80%;
      top: -2px;
      background-color: #e43c5c;
      border-radius: 60px;
      text-decoration: none;
      color: white;
      box-shadow: 2px 2px 5px #d34761;
      &:hover {
        background: #af344b;
      }
    }
  }

  .copyright {
    text-align: center;
    background: #fafafa;
    padding: 30px;
    .title_copyright {
      h6 {
        color: rgb(111, 111, 111);
        font-size: 16px;
        font-weight: 400;

        a {
          text-decoration: none;
          color: black;
        }
      }
      span {
        font-size: 15px;
        code {
          font-weight: bold;
          font-family: sans-serif;
        }
      }
    }

    .title_socialmedia {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: white;
        padding: 10px;
        line-height: 1;
        background-color: #e43c5c;
        margin-right: 10px;
        &:hover {
          background-color: #d34761;
        }

        i {
          font-size: 17px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .input_subscribe {
    margin-bottom: 40px;
    .btn-subscribe {
      padding: 8px 20px !important;
    }
  }
  .title_socialmedia {
    a {
      padding: 8px !important;
    }
  }
  .title_service {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
