body {
  height: 200vh;
}
.section_title {
  text-align: center;
  padding-bottom: 30px;
  z-index: 999;

  h3 {
    font-size: 32px;
    margin: 15px 0 0 0;
    font-weight: 700;
    color: #493c3e;

    span {
      color: #e43c5c;
    }
  }

  h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 8px 20px;
    background: #fdeff2;
    color: #e43c5c;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }

  p {
    margin: 15px auto 0 auto;
    font-weight: 600;
  }
}

h4 {
  font-size: 42px;
  color: #e43c5c;
  font-weight: 500;
  sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
}

// =================================   style Navbar   =================================

.navbar {
  &-brand {
    #logo {
      border-radius: 5px;
      width: 230px;
    }
  }

  .nav-item {
    padding: 10px 0 10px 25px;
  }
  .nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
}
// =================================   style Hero  =================================

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../asset/img/background/hero-bg.jpg) center center no-repeat;
  background-attachment: fixed;
  .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    color: white;

    h1 {
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 40px;
      color: rgb(194, 194, 194);
    }

    h3 {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50px;
      padding: 10px 30px;
      font-size: 23px;
      font-weight: 300;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(31, 31, 31, 0.7);
  }

  &-started-link {
    border: 2px solid white;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    transition: all 0.45s ease;
    &:hover {
      transition: all 0.55s ease;
      background-color: #e43c5c;
      border-color: #e43c5c;
      color: white;
    }
  }
}

// active icont
.navbar-toggler {
  outline: none !important;
  color: transparent !important;
  width: 40px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
}
.icofont-navigation-menu,
.icofont-close {
  color: white !important;
  text-align: center;
  font-size: 25px;
}

// =========================================== animated schroll changed navbar active toggle ===========================================

.active_changed_logo {
  display: inline-block !important;
  transition: all 0.55s ease-in-out;
}

.active_changed_navbar {
  background-color: #313131;
  transition: all 0.55s ease-in-out;
}

// laader
#loader {
  background: url("../asset/img/background/loader.gif");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

// ====================responsive brekpoints ====================

@media (min-width: 992px) and (max-width: 1100px) {
  .navbar {
    .nav-link {
      padding: 10px 0 10px 5px !important;
    }
  }
}

@media (max-width: 631px) {
  #logo {
    width: 200px !important;
  }

  #hero {
    h1 {
      font-size: 38px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 20px;
    }
  }
}

@media (max-width: 300px) {
  #logo {
    width: 200px !important;
  }

  #hero {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 15px;
    }
    h3 {
      font-size: 15px;
    }
    .hero-started-link {
      padding: 5px 20px !important;
    }
  }
}
